
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(170, 190, 207) inherit !important;
}

.img-container {
  width: 200px;
  
}

