body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.card {
    border-style: none;
}

.img-container {
    width: 600px;
    margin-top: 850px;
    margin-left: 270px;
}

h1 {
    margin-bottom: 450px;
    margin-left: 100px;
    font-size: 30px;
}

h2 {
    text-align: center;
}

h3 {
    margin-top: 10px;
    margin-bottom: 0em;
}

h4 {
    text-align: center;
}

h5 {
    margin-top: 5px;
    font-size: 50px;
}

.container {
    margin-bottom: 30px;
}

p {
    margin-bottom: 0;
}

.navbar {
    padding-top: 35px;
    height: 90px;
}

/* .nav-link {
    font-size: 20px;
    color: crimson;
} */

.card {
    border-color: darkorange;
    border-width: thick;
}

.navbar-brand {
    font-size: 30px;
}